* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat";
}

html,
body {
    min-height: 100%;
}

body {
    background-repeat: no-repeat;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
}

.navbar .left {
    align-items: center;
    text-align: left;
    font-size: x-large;
    color: burlywood;
}

.navbar .center {
    margin: auto;
}

.navbar .center>a {
    align-items: center;
    text-align: center;
    color: burlywood;
    padding: 20px;
}

.center>a:hover {
    border-bottom: 1px solid white;
}

.navbar .right>svg {
    text-align: right;
    color: burlywood;
    padding: 20px;
}

.right>svg:hover {
    border-bottom: 1px solid white;
}



.footer {
    padding: 20px;
    margin: auto;
    background-color: black;
}

.links>a {
    color: burlywood;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    color: burlywood;

}

.footer_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_logo>svg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: burlywood;

}

.follow_us {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: burlywood;

}
.layout>.copyright {
    align-items: center;
    text-align: center;
    padding: 30px;
}